body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container {
    display: flex;
    width: 720px;
    height: auto;
}

.colDiv {
    display: flex;
}

.squareDiv {
    background-color: rgb(178, 178, 255);
}